<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head.ejs"); %>

  <body>
    <div class="container">
      <h1>Edit This Thing</h1>

      <form action="/stuff/<%= item._id %>?_method=PUT" method="POST">
        <label for="itemName">Item name:</label>
        <input
          type="text"
          id="itemName"
          name="itemName"
          value="<%= item.itemName %>"
          required
        />
        <br />
        <br />
        <label for="purchasePrice">Purchase price:</label>
        <input
          type="number"
          id="purchasePrice"
          name="purchasePrice"
          value="<%= item.purchasePrice %>"
          required
        />
        <br />
        <br />
        <label for="itemNotes">Item notes:</label>
        <textarea id="itemNotes" name="itemNotes">
<%= item.itemNotes %></textarea
        >
        <br />
        <br />
        <label for="broken">Check here if it's broken:</label>
        <input type="checkbox" id="broken" name="broken" <%= item.broken ?
        'checked' : '' %>>
        <br />
        <br />
        <label for="wrongSize">Check here if it's the wrong size:</label>
        <input type="checkbox" id="wrongSize" name="wrongSize" <%=
        item.wrongSize ? 'checked' : '' %>>
        <br />
        <br />
        <label for="yearLastUsed">Year last used:</label>
        <input
          type="number"
          id="yearLastUsed"
          name="yearLastUsed"
          value="<%= item.yearLastUsed %>"
          required
        />
        <br />
        <br />
        <label for="tags">Tags:</label>
        <input
          type="text"
          id="tags"
          name="tags"
          value="<%= item.tags.join(', ') %>"
        />
        <br />
        <br />
        <button class="btn btn-info" type="submit">Update Item</button>
      </form>
      <br />
      <button class="btn btn-info" onclick="window.location.href='/new'">
        Add more stuff!
      </button>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>

  <%- include("partials/footer.ejs"); %>
</html>
