<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head.ejs"); %>

  <body>
    <h1>Here's This Thing</h1>

    <ul class="itemListing">
      Item Name: <%= item.itemName %>
      <br />
      Purchase Price: <%= item.purchasePrice %>
      <br />
      Is It Broken? <%= item.broken ? "Yes" : "No" %>
      <br />
      Is It the Wrong Size? <%= item.wrongSize ? "Yes" : "No" %>
      <br />
      What Year Was It Last Used? <%= item.yearLastUsed %>
      <br />
      Tags: <%= item.tags.join(", ") %>
      <br />
      Notes: <%= item.itemNotes %>
    </ul>

    <button type="submit" class="btn btn-info" onclick="window.location.href='/stuff/<%= item._id %>/edit'">Edit This Thing</button>
    <br>
    <br>
    <button class="btn btn-info" onclick="window.location.href='/new'">Add More Stuff!</button>
  </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>

  <%- include("partials/footer.ejs"); %>
</html>
